{
  "jsc": {
    "baseUrl": "./src",
    "paths": {
      "modules/*": ["./modules/*"],
      "server/*": ["./server/*"],
      "client/*": ["./client/*"],
      "pages/*": ["./pages/*"],
      "tests/*": ["./tests/*"]
    },
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": "inline"
}
